.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #843534;
}

.page-header {
  border-bottom: none;
}

@media (min-width: 768px) {
  .login-pf-social-section:first-of-type {
    border-right: 1px solid #d1d1d1;
    margin-right: -1px;
  }
  .login-pf-social-section .login-pf-social-link:last-of-type {
    margin-bottom: 0;
  }
}

.login-pf-social-link a {
  color: #fff;
}

.thumbnail h4{
  min-height: 56px;
}

