.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #843534;
}

.btn-primary {
  /* 10% lighter than the ohtech dark gray*/
  background-color: #6c696a !important;
  border-color: rgb(82, 80, 81) !important;
}
.btn-primary:hover {
  background-color: rgb(82, 80, 81) !important;
}

.page-header {
  border-bottom: none;
}
